MONGO_DB URI = your_mongodb_uri_here
JWT_SECRET = your_jwt_secret_here
PORT = your_port_here
CLOUDINARY_CLOUD_NAME = your_cloudinary_cloud_name_here
CLOUDINARY_KEY = your-cloudinary_key_here
CLOUDINARY_SECRET = your_cloudinary_secret_here